main{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

main input{
    width: 40rem;
    height: 2rem;
    
    text-align: center;
    font-size: 18px;
    overflow: hidden;

    border: none;
    
    background-color: #ccc;

    opacity: 40%;
}

main input:focus{
    opacity: 100%;
    transition-delay: 0.1s;
}

input#searchBox{
    border: none;
    background-color: none;

}

main i{
    position: absolute;
    z-index: 100;
    left: 12px;
    top: 6px;
    font-size: 20px;
    opacity: 20%;
}